*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
section{
    padding: 70px 80px 70px 60px;;
    -webkit-box-shadow: 0 0 50px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 50px -2px rgba(0,0,0,0.25);
    box-shadow: 0 0 50px -2px rgba(0,0,0,0.25);
}
p{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
    color: #a2a2a2;
}
.clearfix:after{
    content: "";
    clear: both;
    display: table;
}
main{
    margin: 70px 0;
}
h4, .capital-letter{
    font-family: 'Playfair Display', serif;
}
h4{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 26px;
}
.capital-letter{
    float: left;
    padding-right: 20px;
    margin-top: -6px;
    font-size: 70px;
    color: #171717;
}
p:nth-child(4){
    margin-bottom: 10px;
}
p:nth-child(5){
    margin-bottom: 35px;
    font-size: 20px;
    font-style: italic;
}
.quotes{
    margin-right: 12px;
    font-size: 50px;
}
a{
    padding: 15px 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    text-decoration: none;
    border: 2px solid #eaa258;
    color: #eaa258;
}
a:hover{
    background-color: #eaa258;
    color: #fff;
}